<% @trainings.each do |training| %>
  <div class="container">
    <div class="row p-1">
      <div class="card m-2 border rounded shadow-lg w-100">
        <%= image_tag(training.cover.to_s, class: "card-img-top img-training" ) %>
        <div class="card-body">
          <h3 class="card-title text-center font-weight-bold"><%= training.title %></h3>
          <p class="card-text font-italic"><%= training.text %></p>
          <%= link_to 'Подробнее', training_path(training), class: "btn btn-primary" %>
          <%= link_to 'Изменить', edit_training_path(training), class: "btn btn-warning" %>
          <%= link_to 'Удалить', training_path(training),
                      class: "btn btn-danger", method: :delete, data: {confirm: 'Are you sure?'} %>
        </div>
      </div>
    </div>
  </div>
<% end %>
