<p>
  <strong>Title:</strong>
  <%= @training.title %>
</p>

<p>
  <strong>Cover:</strong>
  <%= image_tag(@training.cover.thumb.url) if @training.cover? %>
</p>

<p>
  <strong>Text:</strong>
  <%= @training.text %>
</p>

<p>
  <strong>Address:</strong>
  <%= @training.address %>
</p>

<p>
  <strong>Start:</strong>
  <%= @training.start_time %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @training.finish_time %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @training.cost %>
</p>

<h2>description</h2>
<%=render @training.descriptions %>

<h2>Add a descriptions:</h2>
<%= render 'descriptions/form' %>

<h2>Comments:</h2>
<%= render @training.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<td><%= link_to 'Edit', edit_training_path %></td>
<%= link_to 'Back', trainings_path %>
