<div class="container" style="background-image: url(<%= @training.cover.url %>)">
  <div class="row featurette shadow-lg p-5 text-white rounded h-100" style="background: rgba(242, 230, 245, 0.3); ">
    <div class="col-md-7">
      <h2 class="featurette-heading text-primary font-italic text-center"><%= @training.title %></h2>
      <p class="lead text-center"><%= @training.text %></p>
    </div>
    <div class="col-md-5 text-body p-5">
      <p>
        <strong>Address:</strong>
        <%= @training.address %>
      </p>

      <p>
        <strong>Start:</strong>
        <%= @training.start_time %>
      </p>

      <p>
        <strong>Finish:</strong>
        <%= @training.finish_time %>
      </p>

      <p>
        <strong>Cost:</strong>
        <%= @training.cost %>
      </p>
      <% if !@training_subscription_user.present? %>
        <div class="container">
          <%= render 'training_subscriptions/form' %>
        </div>
      <% else %>
          <%= render 'training_subscriptions/training_subscription' %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'descriptions/description' %>

<% if admin %>
  <hr class="featurette-divider">
  <div class="container">
    <h2>Добавить описание:</h2>
    <%= render 'descriptions/form' %>
    <%= link_to 'Изменить Тренинг', edit_training_path, class: "btn btn-warning" %>
    <%= link_to 'Удалить Тренинг', training_path(@training),
                class: "btn btn-danger", method: :delete, data: {confirm: 'Are you sure?'} %>
  </div>
<% end %>


<hr class="featurette-divider">
<div class="container">
  <h2>Коментарии:</h2>
  <%= render @training.comments %>

  <h2>Оставить коментарий:</h2>
  <%= render 'comments/form' %>
</div>

<div class="container">
  <%= link_to 'Назад', trainings_path, class: 'btn btn-secondary' %>
</div>
