<%= form_with(model: [@training, @training.descriptions.build], local: true) do |form| %>
  <div class="form-group">
    <%= form.label 'Картинка' %><br/>
    <%= form.file_field :picture, class: 'form-control-file' %>
  </div>

  <div class="form-group">
    <%= form.label 'Заголовок' %><br/>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label 'Текст' %><br>
    <%= form.text_area :text, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit 'Сохранить', class: 'btn btn-primary mb-2' %>
  </div>
<% end %>
