<div class="container text-center pt-5 pb-5 pb-5 mt-5">
  <div class="row w-100 pb-3">
    <p class="h2 col ">Здравствуйте <%= current_user.name if current_user.present? %> !!!</p>
  </div>
  <div class="row">
    <div class="col h-25 w-25">
      <%= image_tag user_avatar(@user), class: 'img-fluid rounded-circle shadow p-1 bg-white' %>
    </div>

    <div class="col text-left">
      <div class="p-2">
        <strong>Имя:</strong><br/>
        <p class="text-muted font-italic h4">
          <%= @user.name %>
        </p>
      </div>
      <div class="p-2">
        <strong>Email:</strong><br/>
        <p class="text-muted font-italic h4">
          <%= @user.email %>
        </p>
      </div>
      <div class="p-2">
        <p><strong class="text-muted font-italic h4">
          <%= link_to 'Ваши карточные расклады', games_path %>
        </strong></p>
      </div>
    </div>
  </div>



  <div class="row p-5 m-5 d-flex justify-content-center">
    <%= link_to 'Обновить профиль', edit_user_registration_path, class: "btn btn-warning p-2 m-1" %>
    <%= link_to 'Назад', root_path, class: 'btn btn-secondary p-2 m-1' %>
  </div>
</div>
