<span>Здравствуйте <%= current_user.name if current_user.present? %></span>
<div class="navbar-collapse collapse navbar-responsive-collapse">
  <ul class="nav navbar-nav">
    <% if user_signed_in? %>
      <li><%= link_to 'Профиль', current_user %></li>
      <li><%= link_to 'Выйти', destroy_user_session_path,
                      method: :delete %></li>
    <% else %>
      <li><%= link_to 'Войти', new_user_session_path %></li>
      <li><%= link_to 'Зарегистрироваться',
                      new_user_registration_path %></li>
    <% end %>
  </ul>
</div>

<%= link_to 'Trainings', controller: 'trainings' %>
