<div class="container">
  <div class="pt-5 mt-5 mb-2 text-center">
    <%= link_to 'Правила', @game.alignment, class: 'btn btn-secondary' %>
    <%= link_to 'Ваши расклады', games_path(user_id: @game.user_id), class: 'btn btn-secondary' %>
  </div>
  <div class="row">
    <% @game.playing_cards.each do |card| %>
      <div class="col">
        <p class="text-center h6"><%= card.name %></p>
        <p class="text-center"><%= image_tag(card.photo, class: 'shadow img-card') %></p>
        <p><%= card.answer %></p>
        <% if !card.answer.present? %>
          <p><%= render 'playing_cards/form', playing_card: card %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
