<div class="container pt-5 mt-5">
  <div class="mb-5 pb-5"><%= link_to 'Назад', :back, class: 'btn btn-secondary' %></div>
  <h1 class="text-center m-5">Карты этого расклада</h1>

  <% @playing_cards.each do |playing_card| %>
    <div class="row">
      <div class="col m-3">
        <h3 class="text-center"><%= playing_card.name %></h3>
        <p class="text-center"><%= image_tag(playing_card.photo,  class: "img-thumbnail img-card shadow") %></p>
      </div>
      <div class="col m-3">
        <h3 class="text-center">Ваш ответ: </h3>
        <% if !playing_card.answer.present? %>
          <%= render 'playing_cards/form', playing_card: playing_card %>
        <% else %>
          <p class="pt-2"><%= playing_card.answer %></p>
        <% end %>
      </div>
    </div>
    <hr/>
  <% end %>

  <div class="mb-5 pb-5"><%= link_to 'Назад', :back, class: 'btn btn-secondary' %></div>

</div>
