<div class="container pt-4 mt-3">
    <p id="notice"><%= notice %></p>
    <h1 class="text-center m-5">Карты этого расклада</h1>

  <% @playing_cards.each do |playing_card| %>
    <div class="row">
      <div class="col h3 m-3">
        <h3 class="text-center"><%= playing_card.name %></h3>
        <%= image_tag(playing_card.photo,  class: "w-100 h-75 img-thumbnail shadow text-center") %>
      </div>
      <div class="col m-3 p-1">
        <h3 class="text-center">Ваш ответ: </h3>
        <p class="pt-2"><%= playing_card.answer %></p>
      </div>
    </div>
    <% if !playing_card.answer.present? %>
      <%= render 'playing_cards/form', playing_card: playing_card %>
    <% end %>
    <hr/>
  <% end %>

  <div class="mb-5 pb-5"><%= link_to 'Назад', :back %></div>

</div>
