<div class="container mt-5 pt-5">
  <%= link_to 'Назад', root_path, class: 'btn btn-secondary' %>
</div>
<% @alignments.each do |alignment| %>

  <div class="container mt-5">
    <div class="card">
      <h5 class="card-header">Расклад: <%= alignment.title %></h5>
      <div class="card-body">
        <h5 class="card-title">Колода: <%= alignment.deck_name %></h5>
        <%= link_to 'Посмотреть правила', alignment, class: "btn btn-primary" %>
        <% if admin %>
          <%= link_to 'Обновить', edit_alignment_path(alignment), class: "btn btn-warning" %>
          <%= link_to 'Удалить', alignment, class: "btn btn-danger",
                          method: :delete, data: {confirm: 'Are you sure?'} %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<br>
<div class="container mb-5">
  <%= link_to 'Назад', welcome_index_path, class: 'btn btn-secondary' %>
  <% if admin %>
    <%= link_to 'Новый Расклад', new_alignment_path, class: 'btn btn-success' %>
  <% end %>
</div>

