<div class="container">
  <%= link_to 'Список раскладов', alignments_path, class: 'btn btn-secondary' %>
  <%= link_to 'Назад', :back, class: 'btn btn-secondary' %>
  <div class="card">
    <h5 class="card-header"><%= @alignment.title %></h5>
    <div class="card-body">
      <h5 class="card-title"><%= @alignment.deck_name %></h5>
      <p class="card-text"><%= @alignment.rule %></p>
      <p class="card-text"><%= link_to 'Сделать расклад', game_path(alignment_id: @alignment.id),
                                       method: :post, class: "btn btn-primary" %></p>
    </div>
  </div>
</div>
